################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/NUnitPeer/bin
/NUnitPeer/obj
/.vs
/Peer/bin
/Peer/obj
/Domain/bin
/Domain/obj/Domain/bin
/Domain/obj
/NUnitDomain/bin
/NUnitDomain/obj