################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/NUnitPeer/bin
/NUnitPeer/obj
/.vs/ProjectEvaluation
/Peer/bin
/Peer/obj
/Domain/bin
/Domain/obj
